html, body {
    margin: 0;
    padding: 0;
}

.container{
    background: url('bg.jpg'), #5417d8;
    /* width: 510px; */
    height: 576px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    width: 425px;
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
    text-transform:uppercase ;
    margin-top: 0.3em;
}
 
p{
    width: 424px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.name, .email{
    width: 427px;
    height: 65px;
    flex-shrink: 0;
    margin-top: 1em;
    margin-bottom: 3em;
    border: 1px solid #C7C7C7;
    background: #EDEDED;
}

label{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button{
    width: 427px;
    height: 63px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    background: #5200FF;
    border: none;
    margin-bottom: 4.5em;
    margin-top: 1.5em;
}

@media  only screen and (min-width: 770px){
    .container{
        width: 770px;
        height: 576px;
    }

    h1{
        width: 500px;
        height: 212px;
    }

    p{
        width: 641px;
        height: 61px;
    }

    .forms{
        display: flex;
        justify-content: space-between;
    }

    .name, .email{
        width: 303px;
        height: 65px;
        margin: 1.5em;
    }

    button{
        
    }
}
