html, body {
    margin: 0;
    padding: 0;
}

.container{
    background: url('bg.jpg'), #5417d8;
    width: 510px;
    height: 576px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h{

}
 
p{

}